<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Vitrine</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" {#data-turbo="false"#}>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app.vitrine.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app.vitrine.about') }}" {#data-turbo="true"#}>about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app.vitrine.contact') }}">contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{#
<nav>
    <ul>
        <li><a href="{{ path('app.vitrine.index') }}">index</a></li>
        <li><a href="{{ path('app.vitrine.about') }}">about</a></li>
        <li><a href="{{ path('app.vitrine.contact') }}">contact</a></li>
    </ul>
</nav>#}
